<h1><%= t('hello') %> <%= @nome %>!</h1>
<p><%= t('actual_date') %>: <strong><%= l(Date.today) %></strong></p>
<p><%= t('actual_lang') %>: <strong><%= t('lang') %></strong></p>
<p><%= t('environment') %>: <strong><%= env_rails_version %></strong></p>
