<p>
  <%= link_to 'Português do Brasil', root_path(locale: 'pt-BR')para 10/10?  temos o dado de qual usuário fez essa remoção? %>
</p>
<p>
  <%= link_to 'English', root_path(locale: 'en') %>
</p>

<%= render "header" %>

<ul>
  <li>
    <%= link_to t('coins'), coins_path, target: "_blank" %>
  </li>
  <li>
    <%= link_to t('mining_types'), mining_types_path, target: "_blank" %>
  </li>
</ul>
