<% content_for :title, t('show_mining_type') %>

<p style="color: green"><%= notice %></p>

<%= render @mining_type %>

<div>
  <%= link_to t('edit_mining_type'), edit_mining_type_path(@mining_type) %> |
  <%= link_to t('links.back'), mining_types_path %>

  <%= button_to t('delete_mining_type'), @mining_type, method: :delete %>
</div>
