<div id="<%= dom_id coin %>">
  <p>
    <strong>Nome:</strong>
    <%= coin.description %>
  </p>

  <p>
    <strong>Sigla:</strong>
    <%= coin.acronym %>
  </p>

  <p>
    <strong>Logo:</strong>
    <%= coin.url_image %>
    <%= image_tag coin.url_image, size: "25x25" %>
  </p>

  <p>
    <strong>Tipo de Mineração:</strong>
    <%= coin.mining_type.description %>
  </p>

</div>
