<% content_for :title, t('show.coin') %>

<h1><%= t('show.coin') %></h1>

<p style="color: green"><%= notice %></p>

<%= render @coin %>

<div>
  <%= link_to t('edit.coin'), edit_coin_path(@coin), class:"btn btn-primary" %>
  <%= link_to t('links.back'), coins_path, class:"btn btn-secondary" %>

  <%= button_to t('delete.coin'), @coin,  data: { turbo_method: :delete, turbo_confirm: t('message.confirm') }, class:"btn btn-danger mt-3" %>
</div>
