<% content_for :title, t('show_coin') %>

<p style="color: green"><%= notice %></p>

<%= render @coin %>

<div>
  <%= link_to t('edit_coin'), edit_coin_path(@coin) %> |
  <%= link_to t('links.back'), coins_path %>

  <%= button_to t('delete_coin'), @coin, method: :delete %>
</div>
